<div class="encabezado">
    <div class="c-container">
      <div class="resultados">
        {{cadenaVacia}}
      </div>
      <button type="button" (click)="regresar()">Del</button>
      <button type="button" (click)="actualizar('0')">0</button>
      <button type="button" (click)="borrar()">←</button>
      <button type="button" (click)="actualizar('/')">/</button>
      <button type="button" (click)="actualizar('7')">7</button>
      <button type="button" (click)="actualizar('8')">8</button>
      <button type="button" (click)="actualizar('9')">9</button>
      <button type="button" (click)="actualizar('*')">*</button>
      <button type="button" (click)="actualizar('4')">4</button>
      <button type="button" (click)="actualizar('5')">5</button>
      <button type="button" (click)="actualizar('6')">6</button>
      <button type="button" (click)="actualizar('-')">-</button>
      <button type="button" (click)="actualizar('1')">1</button>
      <button type="button" (click)="actualizar('2')">2</button>
      <button type="button" (click)="actualizar('3')">3</button>
      <button type="button" (click)="actualizar('+')">+</button>
      <button type="button" (click)="actualizar('.')">.</button>
      <button type="button" (click)="resultados()">=</button>
    </div>
  </div>